# This is Git's per-user configuration file.
[user]
	name = Syed Furquan Ahmad
	email = syed@nextdev.in

[credential]
	username = furquan-lp

[core]
	editor = env NVIM_MINIMAL=1 nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true    # or light = true, or omit for auto-detection

[merge]
	conflictStyle = zdiff3
