*vt100.geometry: 80x25
*renderFont: true
*faceName: Noto Mono
*faceSize: 11
*cursorBlink: true
*cursorOffTime: 500
*cursorOnTime: 500
*VT100.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl Alt <Key>S: secure()
*termName: xterm-256color
*eightBitInput:   false
*eightBitOutput:  true
*alternateScroll: true
*allowWindowOps: true
!XTerm*allowSendEvents: true

! GNOME Color Scheme
! special
gnome*foreground:   #ffffff
gnome*background:   #000000
gnome*cursorColor:  #ffffff

! black
gnome*color0:       #000000
gnome*color8:       #555753

! red
gnome*color1:       #cc0000
gnome*color9:       #ef2929

! green
gnome*color2:       #4e9a06
gnome*color10:      #8ae234

! yellow
gnome*color3:       #c4a000
gnome*color11:      #fce94f

! blue
gnome*color4:       #3465a4
gnome*color12:      #729fcf

! magenta
gnome*color5:       #75507b
gnome*color13:      #ad7fa8

! cyan
gnome*color6:       #06989a
gnome*color14:      #34e2e2

! white
gnome*color7:       #d3d7cf
gnome*color15:      #eeeeec
